body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    color: white;
    display: flex;
} 

.entrar{
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(231, 231, 231);
    padding: 10px 155px 10px 155px;
    align-content: center;
    margin-top: 20%;
    text-decoration: none;
    border: 0; 
}

.kanban{
    display: flex;
    align-items: center;
    margin: 1%;
}

.afazer{
    margin-left: 120px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(235, 233, 233);
    padding: 500px 155px 500px 155px;
    border: 1px; 
}

.fazendo{
    margin-left: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(235, 233, 233);
    padding: 10px 155px 10px 155px;
    border: 1px; 
}

.pronto{
    margin-left: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(235, 233, 233);
    padding: 10px 155px 10px 155px;
    border: 1px; 
}